
.index-header {
  padding: 2.666667vw 3.733333vw 0;
  background-image: linear-gradient(90deg, #0af, #0085ff);
  color: #fff;

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9.2vw;
  }


}
